.header {
    background-color: navy;
    color: white;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.image {
    width: 600px;
    height: auto;
}

p {
    font-size: 22px;
    background-color: red;
    color: black;
    font-weight: bold;
}

li {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-one,
.item-three {
    background-color: navy;
}

.item-two {
    background-color: red;
}